.navbar {
  background: rgb(150, 245, 216);
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 10px;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
}

.nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  font-size: 15px;
  margin-right: 40px;
}
