.title-block {
  padding: 2rem;
  display: block !important;
  background: transparent;
  height: auto;
}

.title-block > h1 {
  display: block !important;
}

.component-block {
  text-align: center;
}
.content-block {
  padding: 2em;
  background: #fff;
  align-content: center;
}

.content-block > p {
  font-size: 80% !important;
}

.twitter-container {
  margin: 0 3rem;
}

@media screen and (max-width: 425px) {
  #news {
    margin: 0.5rem;
  }
}
