#gallery {
  background: rgb(224, 199, 167);
  align-content: center;
}

.item {
  margin: 3px;
  cursor: pointer;
  overflow: hidden;
  height: 350px;
  transition: transform 500ms ease;
  flex-grow: 1;
}

.item-large {
  margin: 3px;
  cursor: pointer;
  overflow: hidden;
  flex-grow: 3;
  height: 350px;
  object-fit: cover;
  transition: transform 500ms ease;
}

.item:hover,
.item-large:hover {
  transform: scale(102%);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-wrapper > .gallery-container {
  float: right;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* border: solid 3px red; */
  justify-content: center;
  margin-bottom: 8rem;
}
.content-wrapper > .gallery-text {
  align-items: center !important;
  /* border: 3px solid purple; */
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 4rem;
}

.gallery-text {
  font-family: "Fuggles", cursive;
  font-size: 400%;
}

.insta-like {
  width: 10%;
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    flex-wrap: wrap;
  }
  .content-wrapper > .gallery-container {
    flex: 1 1 1;
  }
}

@media screen and (max-width: 425px) {
  .content-wrapper {
    flex-wrap: wrap;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .content-wrapper > .gallery-container {
    margin: 2rem;
  }
}
